.body {
  --header-height: 50px;
  --footer-height: 50px;

  display: flex;
  flex-direction: column;
  height: 100%;
  .header {

  }
  .main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
  }

  .header, .footer{
    height: var(--header-height);
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .page {

  }
}
.home {
  display: flex;
  flex-direction: column;
}

